body { display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

header { width: 100vw;
    padding: 15px;
    height: fit-content;
}

section { padding: 20px 15px;
    border-radius: 8px;
    box-shadow: 5pt 5pt 10pt black;
}

p { text-align: center;
}

span { margin: 10px;
}

footer { text-align: center;
    padding: 15px;
}

#campos { width: fit-content;
}

#calcular { margin-top: 50px;
}

#resultado { width: 70vw;
    height: auto;
}